@import 'sass-bootstrap/lib/bootstrap';

body {
	background: #ECF8FF url(/images/bg.jpg) top center repeat-x;
}
body.big-bg {
	background: #ECF8FF url(/images/bigbg.png) top center repeat-x;
}
body.home {
	background: #ECF8FF url(/images/bigbghome.png) top center repeat-x;
}
.container {
	width: 800px;
}
.nav-collapse.collapse {
	margin: 3px 0 0 0;
}
.dropdown-toggle .metaContainer {
	margin-right: 30px;
}
.dropdown-toggle .profileImage {
	width: 30px;
	position: absolute;
	right: 0;
	margin: -26px 0 0 0;
}
.fndr-market-hero {
	height: 257px;
}
.fndr-market-hero .img-container {
	width: 200px;
	float: left;
	margin: 25px 0 0 0;
}
.fndr-market-hero .meta h1 {
	font-size: 26px;
}
.fndr-market-hero .meta {
	width: 565px;
	float: right;
	margin: 25px 0 0 0;
}
.fndr-market-villan {
	margin: 10px 0;
}
.fndr-market-villan .recent {
	width: 200px;
	float: left;
}
.fndr-market-villan .recent h2 {
	font-size: 18px;
}
.fndr-market-villan .trending {
	width: 565px;
	float: right;
}
.fndr-market-villan .trending .canvas {
	padding: 10px;
	background: #FFF;
}
.fndr-market-villan .trending .num-left {
	width: 85px;
	position: relative;
	z-index: 10;
	float: right;
	margin: -111px 28px 0 0;
	text-align: center;
	background: #CCC;
	height: 85px;
	background: #E3EEF4;
	border-radius: 10px;
}
.fndr-market-villan .trending .num-left span {
	text-align: center;
	font-size: 47px;
	font-weight: bold;
	height: auto;
	display: block;
	line-height: normal;
}
.fndr-market-villan .disclaimer {
	margin: 10px 0 0;
	color: #666;
	font-size: 13px;
}
.fndr-market-villan .disclaimer .dwolla-creds {
	margin: 5px 0 0;
	color: blue;
}
.fndr-market-villan .trending h2 {
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	background: #E3EEF4;
	text-align: center;
	font-size: 20px;
	margin: 0;
}
.fndr-market-villan .trending .btn-container {
	padding: 10px;
	background: #E3EEF4;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}
.fndr-market-villan .trending .btn-container .btn-primary {
	display: block;
}
.fndr-list-title {
	margin: 10px 0 35px 0;
}
.fndr-list-title h1 {
	font-size: 26px;
}
.fndr-nav.container {
	padding: 30px 0 0 0;
}
.fndr-nav.container .navbar {
	margin: 0;
}
.fndr-list {
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: auto;
}
.fndr-list .fndr-item {
	padding: 15px;
	clear: both;
	overflow: auto;
	margin: 0 0 10px 0;
}
.fndr-list .fndr-item .img-container {
	width: 100px;
	float: left;
	margin: 0 23px 0 0;
	overflow: hidden;
	text-align: center;
	height: 100px;
	background-position: center center;
	background-repeat: no-repeat;
}
.fndr-list .fndr-item .meta {
	float: left;
	margin: 12px 0 0 0;
}
.fndr-list .fndr-item .meta h3 {
	font-size: 20px;
	padding: 0;
	margin: 0;
}
.fndr-list .fndr-item .meta p {
	font-size: 18px;
}
.fndr-list .fndr-item .btn-wrapper {
	width: 100px;
	float: right;
	margin: 35px 0 0 0;
	text-align: right;
}
.fndr-list .fndr-item.even {
	background: #E7F3FA;
}
.clr {
	clear: both;
}
.disqus {
	padding: 10px;
	background: #FFF;
	overflow: hidden;
}
.fndr-modal-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(/images/modalbg.png) repeat transparent;
	z-index: 100;
	top: 0;
}
.fndr-modal-layer .fndr-popup-container {
	height: 180px;
	width: 500px;
	margin: -130px auto 0 auto;
	position: relative;
	top: 50%;
	border-radius: 7px;
	background: #FFFFFF;
	border: 1px solid #979797;
	-moz-box-shadow:    0px 10px 20px 0 rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 10px 20px 0 rgba(0,0,0,0.50);
	box-shadow:         0px 10px 20px 0 rgba(0,0,0,0.50);
}
.fndr-close {
	margin-right: 5px;
}
.fndr-form.pin label {
	font-size: 22px;
	font-weight: bold;
	display: block;
	padding: 35px 75px;
	text-align: center;
	cursor: default
}
.fndr-form.pin .fndr-close .close {
	opacity: 1;
}
.fndr-form.pin .pass {
	text-align: center;
}
.fndr-form.pin .pass input {
	width: 80px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
}

body.home #content {
	padding-top: 270px;
}

body.big-bg h3 {
	color: #999;
	font-size: 14px;
	margin-top: -5px;
	margin-bottom: -20px;
}
