<div class="container">
	<div class="fndr-market-hero">
		<div class="img-container">
			<img src="<%= orgImage.substr(0, orgImage.length-4)+'_big'+orgImage.substr(orgImage.length-4) %>" />
		</div>
		<div class="meta">
			<h3><%= orgName %></h3>
			<h1><%= marketName %></h1>
			<p><%= discription %></p>
		</div>
		<div class="clr"></div>
	</div>

	<div class="fndr-market-villan">
		<div class="recent">
			<h2>Recent Purchases</h2>
			<div class="recent-container"></div>
		</div>
		<div class="trending">
			<h2>Market Closes in 12 days</h2>
			<div class="canvas">
				<canvas id='trendLine' width='540' height='120'></canvas>
				<div class="num-left"><span>24</span>Available</div>
			</div>
			<div class="btn-container">
				<a id="purchase" class="btn btn-primary btn-large">Buy for $<%= currentPrice %></a>
			</div>
			<div class="disclaimer">
				After your purchase, your ticket will be up for resale for $<%= currentPrice+10 %>. 
				If your ticket is sold, you will be paid back your $<%= currentPrice %>, plus we will 
				split the profit with <%= orgName %>, less transaction fees.
				<div class="dwolla-creds">
					Payments powered by <span class="dwolla-logo">Dwolla</span>
				</div>
			</div>
		</div>
		<div class="clr"></div>
	</div>

	<script>
		
		function drawTrendChart(canvas, data){
			
			var width = canvas.width;
			var chartWidth = width - 100; //room for labels
			var leftMargin = 30;
			var height = canvas.height;
			var chartHeight = height - 20; //room for label at top
			var topMargin = 20;
			var dataMinY = 0;
			var dataMaxY = 0;
			var points = data.points;
			var numberOfPoints = points.length;
			var firstPoint = points[0];
			var lastPoint = points[numberOfPoints-1];
			var nextToLastPoint = points[numberOfPoints-2];
		
			var l = points.length;
			for (var i=0; i<l; i++){
				dataMaxY = Math.max(dataMaxY, points[i].y);
			}
		
			var toCanvasY = function(value){
				return topMargin + chartHeight - (value/dataMaxY) * chartHeight;
			}
		
			var toCanvasX = function(value){
				return leftMargin + chartWidth * value;
			}
		
			var chartMoveTo = function(x, y){
				ctx.moveTo(toCanvasX(x), toCanvasY(y));
			}
		
			var chartLineTo = function(x, y){
				ctx.lineTo(toCanvasX(x), toCanvasY(y));
			}
		
			var lineColorForSegmentToIndex = function(i){
				return 'rgba(255, ' + Math.round(255-(i/numberOfPoints)*255) + ', 255, 1.0)';
			}
		
			var ctx = canvas.getContext('2d');
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			ctx.fillStyle = "rgba(255, 255, 255, 1.0)";
			ctx.fillRect(0, 0, width, height);
		
			//draw trendline
		
			var gradient1 = ctx.createLinearGradient(toCanvasX(0), 0, toCanvasX(lastPoint.x), 0);
			gradient1.addColorStop(0, '#fff');
			gradient1.addColorStop(1, '#f0f');
		
			ctx.lineWidth = 6;
			ctx.lineCap = 'round';
		
			var l = points.length;
			for (var i=1; i<numberOfPoints; i++){
				ctx.strokeStyle = gradient1;
				ctx.beginPath();
				chartMoveTo(points[i-1].x, points[i-1].y);
				chartLineTo(points[i].x, points[i].y);
				ctx.stroke();
			}
		
			//draw end arrow
			ctx.save();
			ctx.translate(Math.round(toCanvasX(lastPoint.x)), Math.round(toCanvasY(lastPoint.y)));
			var angleOfLastSegment = Math.atan2(toCanvasX(lastPoint.x) - toCanvasX(nextToLastPoint.x), toCanvasY(nextToLastPoint.y) - toCanvasY(lastPoint.y));
			ctx.rotate(angleOfLastSegment);
			ctx.fillStyle = "rgba(255, 0, 255, 1.0)";
			ctx.beginPath();
			ctx.moveTo(-.5, -8);
			ctx.lineTo(8.5, 10);
			ctx.lineTo(-8.5, 10);
			ctx.closePath();
			ctx.fill();
			ctx.restore();
		
			//draw axis
			ctx.lineWidth = 1;
			ctx.strokeStyle = "rgba(212, 212, 212, 1.0)";
			ctx.beginPath();
			ctx.moveTo(0,height);
			ctx.lineTo(width, height);
			ctx.stroke();
		
			//draw start label
			ctx.fillStyle = "rgba(74, 74, 74, 1.0)";
			ctx.font = 'bold 14px Helvetica Neue, Helvetica, Arial, sans-serif';
			//ctx.fontWeight = 'bold';
			ctx.textBaseline = 'top';
			ctx.fillText('$' + firstPoint.y, 0, Math.min(height - 18, toCanvasY(firstPoint.y) - 7));
		
			//draw end label
			ctx.fillStyle = "rgba(60, 60, 60, 1.0)";
			ctx.font = 'bold 30px Helvetica Neue, Helvetica, Arial, sans-serif';
			ctx.textAlign = 'left';
			ctx.textBaseline = 'top';
			ctx.fillText('$' + lastPoint.y, toCanvasX(lastPoint.x) + 9, toCanvasY(lastPoint.y) - 20);
		
			//draw end label label
			ctx.fillStyle = "rgba(155, 155, 155, 1.0)";
			ctx.font = '11px Helvetica Neue, Helvetica, Arial, sans-serif';
			ctx.textAlign = 'left';
			ctx.textBaseline = 'top';
			//console.log(ctx.measureText('$20'));
			ctx.fillText('Current Price', toCanvasX(lastPoint.x) + 9, toCanvasY(lastPoint.y) + 16);
			
		}

		drawTrendChart($('#trendLine')[0],{
			points:[
				{x:0, y:20},
				{x:.05, y:25},
				{x:.10, y:30},
				{x:.15, y:30},
				{x:.20, y:35},
				{x:.25, y:40},
				{x:.30, y:60}
			]
		});
	
	</script>
</div>

<div class="disqus">
	<div class="container">
		<div id="disqus_thread"></div>
		<a href="http://disqus.com" class="dsq-brlink" target="_blank">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>

<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'funderlocal'; // required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>

<div id="popup" class="fndr-modal-layer">
	<div class="fndr-popup-container">
		<div id="close" class="fndr-close"><button class="close">&times;</button></div>
		<div class="fndr-form pin">
			<label>Enter Your Dwolla PIN to complete payment</label>
			<div class="pass">
				<input id="pin" type="password" maxlength="4" class="input-small" />
				<button type="submit" class="btn">Submit</button>
			</div>
		</div>
	</div>
</div>