<div class="container">
	<div class="page-header">
		<h1><%= title %></h1>
	</div>
	<ul class="fndr-list">
		<% for (var i=0, l=items.length; i<l; i++) { %>
			<li class="fndr-item <%= i%2? 'even' : 'odd' %>">
				<div class="img-container">
					<img src="<%= items[i].orgImage %>" />
				</div>
				<div class="meta">
					<h3><%= items[i].orgName %></h3>
					<p><%= items[i].marketName %></p>
				</div>
				<div class="btn-wrapper">
					<a href="/markets/<%= items[i].id %>/<%= items[i].seoName %>" class="btn btn-primary">More</a>
				</div>
			</li>
		<% } %>
	</ul>
</div>