<div class="container fndr-nav">
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/">FUNDR</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<% if (loggedIn) { %>
							<li <%= activePage == 'dashboard_page' ? 'class="active"' : '' %>><a href="/<%= userName %>">Home</a></li>
							<li <%= activePage == 'new_page' ? 'class="active"' : '' %>><a href="/new-markets">New</a></li>
							<li <%= activePage == 'top_page' ? 'class="active"' : '' %>><a href="/top-markets">Top</a></li>
							<li <%= activePage == 'random_page' ? 'class="active"' : '' %>><a href="/random">Random</a></li>
						<% } else { %>
						<!-- <li <%= activePage == 'home_page' ? 'class="active"' : '' %>><a href="/">Home</a></li> -->
						<% } %>
					</ul>

					<% if (loggedIn) { %>
						<ul class="nav pull-right">
							<li class="dropdown">
								<a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
									<span class="metaContainer"><%= firstName %> <%= lastName %> <b class="caret"></b> </span>
									<img class="profileImage" src="http://graph.facebook.com/<%= fbId %>/picture" /> 
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
									<!-- <li role="presentation" class="divider"></li> -->
									<li role="presentation"><a role="menuitem" tabindex="-1" href="/<%= userName %>/settings">My Account</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="/help">Help</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="/api/auth/logout">Logout</a></li>
								</ul>
							</li>
						</ul>

					<% } else { %>
						<div class="navbar-text pull-right">
							<a href="/api/auth/login"><img src="/images/fb-login.png" /></a>
						</div>
					<% }  %>
				</div>
			</div>
		</div>
	</div>
</div>
