<div class="fndr-txns">
	<ul>
		<% console.log(items); for (var i=0, l=items.length; i<l; i++) { %>
			<li>
				<div class="image-container">
					<img class="profileImage" src="http://graph.facebook.com/<%= items[i].fbId %>/picture" /> 
				</div>
				<div class="meta">
					<label class="time-ago">Less than 1 minute ago</label>
					<label class="name"><%= items[i].message %></label>
				</div>
				<div class="clr"></div>
			</li>
		<% } %>
		<li>
			<div class="image-container">
				<img class="profileImage" src="http://graph.facebook.com/1483899097/picture" /> 
			</div>
			<div class="meta">
				<label class="time-ago">4 minutes ago</label>
				<label class="name">Susi purchased this item</label>
			</div>
			<div class="clr"></div>
		</li>
		<li>
			<div class="image-container">
				<img class="profileImage" src="http://graph.facebook.com/100000037326092/picture" /> 
			</div>
			<div class="meta">
				<label class="time-ago">5 minutes ago</label>
				<label class="name">Ben purchased this item</label>
			</div>
			<div class="clr"></div>
		</li>
		<li>
			<div class="image-container">
				<img class="profileImage" src="http://graph.facebook.com/100401316/picture" /> 
			</div>
			<div class="meta">
				<label class="time-ago">7 minutes ago</label>
				<label class="name">Philip purchased this item</label>
			</div>
			<div class="clr"></div>
		</li>
	</ul>
</div>